body {
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.column {
    padding: 10px;
    margin-top: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #ffffff;
}

.tabWrap {
    padding: 15px;
}

.card {
    position:relative;
    display:block;
    margin-bottom:.75rem;
    background-color:#fff;
    border-radius:.25rem;
    border:1px solid rgba(0,0,0,.125);
    margin-left: 0px;
    margin-top: 15px;
}
.card-block {
    padding:1.25rem
}

.message{
    margin: 15px 5px 15px 5px;
}
.message-user{}
.message-content{
    border-radius: .25rem;
    border:1px solid #AAAAAA;
    padding: 5px 5px 5px 5px;
    margin-left: 5px;
}
.message-status{
    padding: 5px 5px 5px 5px;
    margin-left: 5px;
}


