<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Light Chat Room</title>
    <script src='../static/jquery-3.3.1.min.js'></script>
</head>
<body>
    <script src='../static/chatroom.js'></script>

    <table id='userInfoTable'>
        <tr>
            <td>Your Name:</td>
            <td><input type='text' name='text' value='TestUser' id='userNameBox'/></td>
        </tr>
        <tr>
            <td>Post Msg:</td>
            <td><input type='text' name='text' value='write your msg here.' id='textBox'/></td>
        </tr>
        <tr>
            <td><button id='submitBtn'>Submit</button></td>
            <td><button id='getMsgBtn'>GetMsg</button></td>
        </tr>
    </table>

    <div id='chatBox'>
        <!-- chat messages -->
    </div>
</body>
