<!DOCTYPE html>
<html> <!-- lang='en'-->
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, user-scalable=no' />

    <title>Light Chat Room::Chat</title>
    <script src={{url_for("static", filename="jquery-3.3.1.min.js")}}></script>
    <script src={{url_for("static", filename="socket.io.min.js")}}></script>
    <style>
        .enter{color:green;}
        .leave{color:red;}
        .content{color:black;}
    </style>
</head>
<body>
    <script src='../static/chatroom.js'></script>

    <h1>Chat Room</h1>
    <table id='userInfoTable'>
        {% if user_name %}
        <tr>
            <td>Your Name:</td>
            <td id="userName">{{user_name}}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Post Msg:</td>
            <td><input type='text' name='text' value='write your msg here.' id='textBox'/></td>
        </tr>
        <tr>
            <td><button id='submitBtn'>Submit</button></td>
        </tr>
    </table>

    <div id='chatBox'>
        <!-- chat messages -->
    </div>
</body>
</html>
