<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Light Chat Room</title>
    <script src='../static/jquery.js'></script>
</head>
<body>
    <script src='../static/chatroom.js'></script>

    <input type='text' name='text' value='TestUser' id='userNameBox'/>
    <input type='text' name='text' value='write your msg here.' id='textBox'/>
    <button id='submitBtn'>Submit</button>
    <button id='getMsgBtn'>GetMsg</button>

    <div class='chatBox'>
        <!-- chat messages -->
    </div>
</body>
