<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, user-scalable=no' />

    <title>Light Chat Room::{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for("static", filename="stylesheet/style.css") }}" />
    <script src={{url_for("static", filename="javascript/jquery-3.3.1.min.js")}}></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <script src="{{ url_for('static', filename='javascript/utils.js') }}"></script>

    <div class="container-fluid" id="container">
        <div class="row-fluid "id="total-row">
            <div class="col-md-8 col-md-offset-2 span12 column" style="">
                {% for messages in get_flashed_messages() %}
                <div class="flash alert alert-warning">{{ messages }}</div>
                {% endfor %}

                {% block column %}{% endblock %}
            </div>
        </div>
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>
