{% extends 'base.html' %}

{% block title %}{{ g.room['roomName'] }}{% endblock %}
{% block head %}
    <script>
        var indexUrl='{{ url_for('index') }}';
    </script>
    <script src="{{ url_for('static', filename='javascript/chatroom.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/socket.io.min.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Chatroom - {{ g.room['roomName'] }} #{{ g.room['roomId'] }}</h1>
    <p>{{ roomDescription }}</p>
    <table id='messageTable'>
        <tr>
            <td>UserName</td>
            <td id="userName">{{ g.user['userName'] }}</td>
        </tr>
        <tr>
            <td>Post Msg</td>
            <td><input name='text' value='' id='textBox'/></td>
        </tr>
        <tr>
            <td><button id='submitBtn'>Submit</button></td>
        </tr>
    </table>

    <div id='chatBox'>
        <!-- chat messages -->
    </div>
{% endblock %}
