{% extends 'base.html' %}

{% block title %}{{ g.room['roomName'] }}{% endblock %}
{% block head %}
{% endblock %}

{% block column %}
    <h1>Chatroom - {{ g.room['roomName'] }} #{{ g.room['roomId'] }}</h1>
    <!--div class="room-description">{{ g.room['roomDescription'] }}</div-->

    <div id='chatBox' class='chat-box'>
        <!-- chat messages -->
    </div>

    <div class='chat-typeboard'>
        <table id='messageTable'>
            <tr>
                <td>UserName</td>
                <td id="userName">{{ g.user['userName'] }}</td>
            </tr>
            <tr>
                <td>Post Msg</td>
                <td><input name='text' value='' id='textBox'/></td>
            </tr>
            <tr>
                <td><button id='submitBtn'>Submit</button></td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='javascript/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/chatroom.js') }}"></script>
{% endblock %}
