{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
    <table id='userInfoTable'>
        {% if username %}
        <tr>
            <td>Your Name:</td>
            <td id="userName">{{username}}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Post Msg:</td>
            <td><input type='text' name='text' value='write your msg here.' id='textBox'/></td>
        </tr>
        <tr>
            <td><button id='submitBtn'>Submit</button></td>
        </tr>
    </table>

    <div id='chatBox'>
        <!-- chat messages -->
    </div>
{% endblock %}
