{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>
    <form action='/auth/register' method='post'>
        <label for='nameBox'>UserName</label>
        <p><input type='text' name='userName' value='' id='nameBox' required></p>
        <label for='passwordBox'>Password</label>
        <p><input type='password' name='password' value='' id='passwordBox' required></p>
        <input type='submit' value='Submit' />
    </form>
{% endblock %}
